body{
    background-color: rgb(42, 42, 44);
    background-size: cover;
    background-repeat: no-repeat;

    
}

#header{
    color: white;
    font-size:60px;
}

#score{
    color: black;
    font-size: 55px;
    border-style: outset;
    width: 150px;
    height: 80px;
    border-color: black;
    background-color: white;
    border-radius: 20px;
    border-width: 5px;

}

.pointsperclick{
    color: white;
    font-size: 30px;
}

.dropdown
{
    position: relative;
    display: inline-block;
    padding-right: 0px;
}

.dropbtn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-image:url("Settings-icon.png");
    background-size:cover;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 40px;
    border-radius: 5px;
}
.dropdown-content button
{
    background-color: white;
    color: black;
    border-style: none;

}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content button:hover
{
    background-color: black;
    color: white;

}